.book__title{
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.book__information{
    width: 100%;
    margin: 0 auto 40px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    .book__cover-container{
        width: 30%;
        min-height: 700px;
        box-shadow: 0 0 0px 5px white;
        border-radius: 10px;
        overflow: hidden;
        .book__cover{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: scale(1.4);
        }
    }
    .book__short-information-container{
        width: 30%;
        align-content: center;
        justify-content: center;
        .book__short-information{
            background: black;
            box-shadow: 0 0 0px 5px white;
            color: white;
            border-radius: 10px;
            align-self: center;
            display: flex;
            flex-direction: column;
            .book__row{
                display: flex;
                justify-content: space-between;
                margin: 20px;
                .book__authors{
                    overflow: scroll;
                }
                
            }
            .book__price{
                font-size: 30px;
                .book__rating{
                    display: flex;
                }
            }
            .book__text--left{
                width: 40%;
                text-align: left;
            }
            .book__text--right{
                text-align: right;
                width: 40%;
            }
        }
        .book__cart-btn{
            box-shadow: 0 0 0px 5px white;
            width: 100%;
            margin-top: 40px;
            border-radius: 10px;
            padding: 10px 30px;
            font-size: 50px;
            background: black;
            color:  white;
        }
        .book__cart-btn.disabled{
            background: grey;
            color:  white;
        }
        .book__favorite-btn{
            box-shadow: 0 0 0px 5px white;
            width: 100%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 10px 30px;
            font-size: 50px;
            background: black;
            color:  white;
        }
        .book__favorite-btn.active{

            color:red;
        }
    }
}
.book__description{
    font-size: 30px;
    .book__buttons-container{
        margin-bottom: 20px;
        .book__button{
            border-radius: 10px;
            padding: 10px;
            font-size: 30px;
            margin: 20px;
            text-transform: uppercase;
            background: white;
            color: black;
        }
        .book__button.active{
            background: black;
            box-shadow: 0 0 0px 3px white;
            color: white;
        }
    }
    .description{
        border-radius: 10px;
        min-height: 150px;
        padding: 20px;
        margin-bottom: 20px;
        background:black;
        color:white;
        box-shadow: 0 0 0px 5px white;
    }
}

