.book-card{
    margin: 40px;
    width: 85%;
    padding: 20px;
    background: lightgrey;
    border-radius: 10px;
    min-height: 500px;
    .book-card__cover{
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .book-card__title{
        margin-top: 30px;
    }
    .book-card__subtitle{
        margin-top: 30px;
    }
    .book-card__price{
        margin-top: 30px;
    }
}
