.cart-card{
    display: flex;
    height: 300px;
    justify-content: space-between;
    background: lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
    width: 50%;
    .cart-card__cover-container{
        width: 30%;
        height: 100%;
        box-shadow: 0px 0px 0px 5px lightgrey;
        border-radius: 10px;
        overflow: hidden;
    }
    .cart-card__cover{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        transform: scale(1.4);
    }

    .cart-card__information{
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px;
        width: 45%;
        margin: 30px 0 0 20px;
        font-size: 20px;
        .cart-card__amount{
            font-size: 40px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            button{
                width: 30%;
                font-size: 40px;
            }
        }
    }

    .cart-card__price{
        text-align: center;
        width: 25%;
        font-size: 40px;
        align-self: center;
    }
}

.cart__calculator{
    font-size: 40px;
    position: absolute;
    background: lightgrey;
    border-radius: 10px;
    padding: 5px;
    top:0;
    right: 0;
}

.cart__empty{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}