.footer{
    background-color: black;
    color: lightgrey;
    width: 100%;
    padding: 20px 0;
    .footer-container{
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 1600px;
        .left-text{

        }
        .right-text{

        }
    }
}