.footer{
    background-color: black;
    color: lightgrey;
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid white;
    .footer__container{
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 1600px;
    }
}