*{
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  
	padding: 0px;
	margin: 0px;
	border: none;

	a{
		color: white;
		text-decoration: none;
	}

	.app-page{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		.app-main{
		}
	}
}

::-webkit-scrollbar {
    width: 20px; /* ширина вертикального скроллбара */
    height: 12px; /* высота горизонтального скроллбара */
}
/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #888; /* цвет ползунка */
}
/* Стилизация ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* цвет ползунка при наведении */
}
/* Стилизация дорожки скроллбара */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* цвет фона дорожки */
}
/* Стилизация углового элемента, который появляется, когда есть и вертикальный, и горизонтальный скроллбары */
::-webkit-scrollbar-corner {
    background: #f1f1f1; /* цвет углового элемента */
}

body{
	overflow-y: scroll; /* Включаем вертикальную прокрутку */
	overflow-x: hidden;
	margin-right: -17px; /* Компенсируем ширину скроллбара (примерная ширина) */
	padding-right: 17px; /* Создаем отступ для содержимого */
}